.channel-title > a {
  color: #212529;
}

.outer-background {
  margin: 20px;
  background-color: #faf9f1;
  padding: 20px;
}

.videocard {
  padding: 20px;
  width: 30%;
}

.image > img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
