.container {
  position: absolute;
  width: 40%;
  background: white;
  left: 30%;
  top: 25%;
  padding: 20px;
  justify-content: center;
  border-radius: 20px;
}
.button {
  text-align: center;
  margin-bottom: 5px;
}