.feed {
  flex: 30px 150px;
  /* padding: 20px; 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
}

/* .main > .story-reel {
  margin: 50px 50px 0px;
} */
