.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
<<<<<<< HEAD
  background-color: #fad3a3;
=======
  background-color: #f9c784;
>>>>>>> a3322a3e63f843aac5a1e15d3bf2c2779067936c
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left {
  display: flex;
  justify-content: space-evenly;
}

.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header_left > img {
  height: 60px;
}

.header_input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 400px;
}

.header_middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header_option > .MuiSvgIcon-root {
  color: #666666
  ;
}

.header_option:hover > .MuiSvgIcon-root {
  color: #666666;
}

.header_option--active > .MuiSvgIcon-root {
  color: #9D2929;
}

.header_option--active {
  border-bottom: 4px solid #9D2929;
}

.header_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header_info {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logout {
  padding-top: 10px;
}

.header_right {
  display: flex;
}

.tab {
  margin-left: 1.5em;
}

.EditImage > .addIcon {
  border-radius: 1px;
  width: 200px;
  height: 200px;
}

.header_info > h5 {
  font-weight: bold;
  margin-left: 10px;
}

.logout > .MuiButton-contained {
  background-color: #C7BDF1;
  font-weight: bold;
}

.account > .MuiButton-contained {
  background-color: #C7BDF1;
  font-weight: bold;
}
