.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left {
  display: flex;
  justify-content: space-evenly;
}

.header_input{
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header_left > img {
  height: 60px;
}

.header_input > input{
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 400px;
}

.header_middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header_option > .MuiSvgIcon-root {
  color: gray;
}

.header_option:hover > .MuiSvgIcon-root {
  color: #ffb2a4;
}

.header_option--active > .MuiSvgIcon-root{
  color: #ffb2a4;
}

.header_option--active {
  border-bottom: 4px solid #ffb2a4;
}

.header_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header_option:hover{
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header_info {
  display: flex;
  align-items: center;
}

.header_info > h4 {
  margin-left: 10px;
}

.header_right {
  display: flex;
}
.modal-container {
  position: absolute;
  width: 60%;
  background: white;
  left: 25%;
  top: 15%;
  padding: 20px;
  box-shadow: 2px 2px 2px #aaaaaa;
  border-radius: 10px;
}
.modal {
  background: rgba(0, 0, 0, 0.8);
}
.form-group{
  display: flex;
}
.form-control{
  display: flex;
}
label{
  width: 40%;
}
.EditImage > img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-top: 25%;
}