.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
  transition: 1s;
  filter: brightness(30%);
}

.subtitle > h6 {
  text-align: bottom;
  align-items: center;
  padding-left: 100;
  padding-right: 100;
  font-family: cursive;
  /* font-style: italic; */
  font-size: large;
  font-weight: bold;
  color: transparent;
}

.story:hover > .subtitle > h6 {
  color: white;
  text-align: center;
  align-items: center;
  padding-left: 100;
  padding-right: 100;
  font-family: cursive;
  font-size: large;
  font-weight: bold;
  display: block;
}

.subtitle:hover > h6 {
  color: white;
  text-align: bottom;
  align-items: center;
  padding-left: 100;
  padding-right: 100;
  font-family: cursive;
  font-size: large;
  font-weight: bold;
}

.story_avatar {
  margin: 10px;
  border: 4px solid #6a5acd;
}

/* .story > h6 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
} */
