.bg-header {
  background-color: #afd0cc;
  overflow: hidden;

}

.footer {
  position: fixed;
  /* bottom: 0; */
  /* justify-content: center; */
  /* vertical-align: middle; */
  width: 100%;
  height: 25px;
  /* background-color: #fedcd2; Peach */
  overflow: hidden;
  display: block;
  opacity: 1;
}

.muted-text {
  color: #874c62; /* EggPlant */
  vertical-align: middle;
  text-align: center;
}

.navbar-brand {
  margin-top: -15px;
}

.welcomePage {
  padding-top: 10px;
  height: 100%;
  align-items: center;
  align-content: center;
  /* /* justify-content: center;   */
  text-align: center;
  /* vertical-align: center; */
  /* display: flex; */
  flex-flow: column;
}

.slideImage {
  object-fit: contain;
}

.leftColumn {
  /* left:0; */
  /* float: left; */
  align-content: center;
  text-align: center;
  width: 60%;
  display: table-cell;
  /* background-color: #444555; */
}

.rightColumn {
  /* left:0; */
  /* float: right; */
  /* align-content: center;  */
  text-align: center;
  vertical-align: middle;
  /* width: 40%; */
  display: table-cell;
  /* background-color: #444444; */
}
.row {
  display: table;
  border: 0;
  padding: 0;
  margin: 0%;
  vertical-align: middle;
  height: 100%;
  /* overflow: hidden; */
}
.moto {
  padding-left: 40px;
  padding-right: 40px;
}
