.mainFollow{
  flex-grow: 1;
  box-shadow: 1px solid grey;
}
.paper{
    max-width: 500px;
}
.paper:hover{
  cursor: pointer;
}
.image > img{
  width: 80px;
  height: 80px;
  border-radius: 120px;
  margin: 4px;
}