.profileStates{
  display: flex;
  justify-content: space-around;
  border-top: 0.5px solid grey;
  padding-top: 5px;
}
.statsData{
  display: flex;
  cursor: pointer;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
.statsData > h5 {
  margin-left: 5px;
}
.statsData:hover{
  background-color: #eff2f5;
  border-radius: 15px;
  border-bottom: none;
}
.statsData > .MuiSvgIcon-root {
  color: 666666;
}
.statsData:hover > .MuiSvgIcon-root {
  color: #666666;
  cursor: pointer;
}
.statsData--active > .MuiSvgIcon-root{
  color: #9D2929;
}
.statsData--active {
  border-bottom: 4px solid #9D2929;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  margin: 20px 5px;
  width: 30%;
}